/*2302021735 */

@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'MonoplexKRWide-BoldItalic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-wide@1.0/MonoplexKRWide-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'MonoplexKR-Italic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

html body{
  margin: 0px;
  padding: 0px;
}

header {
  letter-spacing: 4px;
  border-bottom: 2px goldenrod double;
  text-align: right;
  font-family: 'MonoplexKRWide-BoldItalic';
 }
 h2, h3 {
  font-family: 'MonoplexKR-Italic';
  border-bottom: 1px goldenrod dotted;
 }
 h2 {
  background-color: white;
  position: sticky;
  top: 0px;
 }
 /* grid-container setting */
#grid-container-left {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 300px 1fr;
  gap: 0px;
  margin: 0px;
  padding: 0px;
  position: sticky;
  top: 1px;
}
#grid-container-right {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 150px;
  gap: 2px;
  margin: 0px;
  padding: 0px;
  position: sticky;
  top: 1px;
} 
.grid-container {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: auto;
  gap: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding: 0px;
}

footer {
  text-align: center;
  border-top: 2px goldenrod double;
  font-weight: 200;
}

