header {
 text-align: center;
 border-bottom: 1px goldenrod dashed;
 margin-bottom: 20px;
}
/* 잠시 비활성화
.grid-container {
  display: grid;
  grid-template-columns: 180px auto 180px;
  grid-template-rows: auto auto auto;
  gap: 5px 5px;
}
.grid-container > nav {
  grid-column-start: 1;
}
*/
nav { grid-area: left1; }
.article-list { grid-area: left2;}
article { grid-area: main; }
.ad { grid-area: right1; }
.related { grid-area: right2; }
.search {grid-area: right3; }

.grid-container {
  display: grid;
  grid:
    'left1 main right1'
    'left1 main right2'
    'left2 main right3';
    gap: 15px 20px ;

}

footer {
  text-align: center;
  border-top: 1px goldenrod dashed;
}